:root {
  --bg-color: white;
  --unselected-bg-color: #f5f7fb;
  --selected-bg-color: #d6dbf5;
  --correct-bg-color: #94d7a2;
  --incorrect-bg-color: #f8bcbc;
  --main-text-color: #293264;
  --answer-text-color: #293264;
  /* --header-color: #5a2034; */
}

[datatheme="dark"] {
  --bg-color: rgb(20, 20, 22);
  --main-text-color: #7179a7;
  --answer-text-color: #c5c7cf;
  --unselected-bg-color: #1b1e24;
  --selected-bg-color: #445c91;
  --correct-bg-color: #105644;
  --incorrect-bg-color: #5a2034;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  color: var(--main-text-color);
  /* height: 100vh; */
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
  color: var(--main-text-color);

}

header {
  width: 100%;
  padding: 0.5rem 1rem;
  padding: calc(0.1rem + 1vw) calc(1rem + 2vw);
  padding: 1% 10%;
  background: #5a2034;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  font-size: calc(1.1rem + 2vw);
  color: rgba(255, 255, 255, 0.9);
  /* font-variant: small-caps; */
}

.toggleTheme {
  /* display: block; */
  /* margin-left: auto; */
}

input[type="checkbox"] {
  display: none;
}

label {
  color: white;
  cursor: pointer;
}

main {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid yellow; */
}

.homeContainer {
  /* height: 90vh; */
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  /* font-weight: 700; */
  /* font-size: 3rem; */
  /* margin-bottom: 7px; */
}

p {
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--main-text-color);
  /* margin-bottom: 30px; */
}

.container {
  /* width: 70vw; */
  /* height: 90vh; */
  /* margin: 4rem auto 0 auto; */
  /* border: 1px solid yellow; */
}

.submitForm {
  width: 95%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 0.9rem;
  margin-bottom: 2rem;
}

h2 {
  /* border: 1px solid palevioletred; */
  /* font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;
  margin-bottom: 20px; */
}

.question {
  /* text-align: center; */
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
  font-size: calc(0.7rem + 1vw);
  margin-bottom: 0.7rem;
}

.answers > button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.5rem;
  color: var(--answer-text-color);
  padding: 8px 20px;
  border-radius: 50px;
}

.answers {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 0.5rem;
  margin-bottom: 5px;
}

button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: none;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  opacity: 1;
  cursor: default;
}

button:disabled:active {
  transform: none;
}

.bottom {
  /* margin-top: 2rem; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.checkAnswers {
  margin: 1.5rem auto 0 auto;
  flex: 1 1 100%;
}

hr {
  /* width: 70%; */
  border: 0.8px solid var(--selected-bg-color);
  margin-bottom: 20px;
}

.correctAnswer {
  background: var(--correct-bg-color);
  border: none;
}

.incorrectAnswer {
  background: var(--incorrect-bg-color);
  border: none;
}

.selectedAnswer {
  background: var(--selected-bg-color);
  border: none;
}

.unselectedAnswer {
  background: var(--unselected-bg-color);
  border: 1px solid var(--main-text-color);
  color: var(--answer-text-color);
}

footer {
  /* border: 1px solid yellow; */
  width: 100%;
  padding: 1rem;
  background: rgb(10, 34, 59);
  color: var(--answer-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer p {
  margin: 0;
}

.links {
}

a {
  text-decoration: none;
  color: var(--answer-text-color);
  padding-right: 0.5rem;
}