:root {
  --bg-color: white;
  --unselected-color: #f5f7fb;
  --selected-color: #d6dbf5;
  --correct-color: #94d7a2;
  --incorrect-color: #f8bcbc;
  --main-text-color: #293264;
}

[datatheme="dark"] {
  --bg-color: black;
  --main-text-color: #7179a7;
  --unselected-color: #bcd0f8;
  --selected-color: #90a1f6;
  --correct-color: #2add51;
  --incorrect-color: #ee5353;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  color: var(--main-text-color);
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--bg-color);
  color: var(--main-text-color);

}

.homeContainer {
  height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 7px;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.container {
  width: 70vw;
  height: 90vh;
  margin: 4rem auto 0 auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.answers > button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #293264;
  padding: 8px 20px;
  border-radius: 8px;
}

.answers {
  display: flex;
  gap: 1rem;
  margin-bottom: 5px;
}

button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 20px 50px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.checkAnswers {
  margin: 2rem auto 0 auto;
}

hr {
  width: 70vw;
  border: 0.8px solid #dbdef0;
  margin-bottom: 20px;
}

.correctAnswer {
  background: var(--correct-color);
  border: none;
}

.incorrectAnswer {
  background: var(--incorrect-color);
  border: none;
}

.selectedAnswer {
  background: var(--selected-color);
  border: none;
}

.unselectedAnswer {
  background: var(--unselected-color);
  border: 1px solid var(--main-text-color);
}